html {
	font-family: ProximaNova, sans-serif;
}

body {
	margin: 0 auto;
	color: #555;
	line-height: 1.4;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.logo {
	background-image: url("img/logo_256.png");
	height: 128px;
	width: 128px;
	background-size: 128px;
	border-radius: 3px;
}

.tt {
	font-family: Inconsolata, monospace;
	letter-spacing: -.75px;
}

h1, p {
	margin: 0;
}

h1 {
	margin-top: .80901699437em;
	margin-bottom: .125em;
	font-size: 1.8em;
}

.card {
	padding: 4.85410196625em 1.61803398875em;
	box-shadow: 0px 0px 10px 4px #eee;
	display: inline-block;
	transition: 300ms cubic-bezier(0.17, 0.89, 0.12, 1.49) transform;
}

.card:hover {
	transform: scale(1.05);
	transition: 180ms cubic-bezier(0.17, 0.89, 0.12, 1.49) transform;
}

